@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --angle: 90deg;
    --orange-red: oklch(63.32% 0.24 31.68);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --electric-violet: oklch(53.18% 0.28 296.97);

    --main-accent-color: var(--electric-violet);
    --main-background-color: color-mix(
      in srgb,
      var(--electric-violet) 10%,
      white
    );
    --secondary-background-color: color-mix(
      in srgb,
      var(--electric-violet) 30%,
      white
    );
  }

  /* the theme name */
  .shiki.dark-plus {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: #ffffff;
    --angle: 90deg;
    --orange-red: oklch(63.32% 0.24 31.68);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --electric-violet: oklch(53.18% 0.28 296.97);

    --main-accent-color: var(--vivid-pink);
    --main-background-color: color-mix(
      in srgb,
      var(--electric-violet) 30%,
      black
    );
    --secondary-background-color: color-mix(
      in srgb,
      var(--electric-violet) 60%,
      black
    );
  }

  /* the theme name */
  .shiki.light-plus {
    display: none;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

:root {
  font-family: "Lato", sans-serif;
}

.angular-gradient {
  background: -webkit-linear-gradient(
    var(--angle),
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );
}

.box {
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--main-background-color);
  border: 1px solid var(--main-accent-color);
  box-shadow: 3px 3px 5px var(--main-accent-color);
}

code:not(:has(span)) {
  margin-bottom: 20px;
  font-weight: 700;
  background: -webkit-linear-gradient(
    var(--angle),
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

pre {
  margin: 10px 20px;
}

a {
  text-decoration: none;
  color: var(--main-accent-color);
}

content {
  display: block;
  margin: 4px 0;
}
